<p>Hello,</p>

<p>a meeting that you were invited for was updated.</p>

<p>Called by: <%= @meeting.get_manager.name || @meeting.get_manager.email%></p>
<p>Subject: <%= @meeting.subject %></p>

<p>You can check the updates <a href="http://localhost:3000/meeting/show/<%= @meeting.user_link %>" target="_blank" >here</a>.</p>

