<p>Hello,</p>

<p>A meeting that you were invited for was closed</p>

<p>You can check the meeting at all time, but no more changes can be made.</p>

<p><a href="http://localhost:3000/meeting/show/<%= @meeting.user_link %>" target="_blank" >View  meeting</a></p>

Thank you for using EMeeting!