<p>Hello,</p>

<p>you have been invited to a meeting.</p>

<p>Called by: <%= @meeting.get_manager.name || @meeting.get_manager.email%></p>
<p>Subject: <%= @meeting.subject %></p>


<p><%= @meeting.get_manager.name || @meeting.get_manager.email%> Would like to know if you are available to that meeting, please visit our website to confirm that you will be present.</p>
<p><a href="http://localhost:3000/meeting/show/<%= @meeting.user_link %>" target="_blank" > View meeting </a></p>
