<% @page_title = "login" %>



<div id="stylized" class="myform" style="height:100%;">
	<h1>Login</h1>
	<p>Please fill in the form</p>
	
	<%= form_tag(:action => 'attempt_login') do %>
		<label>Email
			<span class="small">User account</span>
		</label>
		<%= text_field_tag :username,nil,:class=>"input" %>
		<label>Passord
			<span class="small">User account</span>
		</label>
		<%= password_field_tag :password,nil,:class=>"input" %>
		<br>
		<%= submit_tag "Log In", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"left:800px"%>
	<% end %>
</div>
