<% @page_title = "New meeting" %>
<script type="text/javascript">
	$(function(){

		// Accordion
		$("#accordion").accordion({ header: "h3" });

		// Tabs
		$('#tabs').tabs();

		// Dialog			
		$('#dialog').dialog({
			autoOpen: false,
			width: 600,
			buttons: {
				"Ok": function() { 
					$(this).dialog("close"); 
				}, 
				"Cancel": function() { 
					$(this).dialog("close"); 
				} 
			}
		});

		// Dialog Link
		$('#dialog_link').click(function(){
			$('#dialog').dialog('open');
			return false;
		});

		// Datepicker
		$( "#datepicker" ).datepicker({ showAnim: 'fold', speed: 'slow', dateFormat: 'dd/mm/yy'});


		// Slider
		$('#slider').slider({
			range: true,
			values: [17, 67]
		});

		// Progressbar
		$("#progressbar").progressbar({
			value: 20 
		});

		//hover states on the static widgets
		$('#dialog_link, ul#icons li').hover(
			function() { $(this).addClass('ui-state-hover'); }, 
			function() { $(this).removeClass('ui-state-hover'); }
		);
		
		$('#timepicker').timepicker({ showAnim: 'fold' });

	});
</script>

<script type="text/javascript">
	function add_topic(obj) {
		var btn =  document.createElement('span');
		
		btn.setAttribute('onmousedown', "remove_fields(this);");
		btn.setAttribute('class',"ui-icon ui-icon-circle-close");
		btn.setAttribute('style',"position:relative;top:6px;cursor: pointer;width:15px;");
		$(obj).closest(".fields").append(btn);

		document.getElementById("add_field_link").onclick();
		obj.setAttribute('onfocus',"");
	}
	
	
	function init() {
		//add first topic
		document.getElementById("add_field_link").onclick();
	}
	
	//not used anymore
	function getTodayDate(){
		var currentTime = new Date();
		var month = currentTime.getMonth() + 1;
		var day = currentTime.getDate();
		var year = currentTime.getFullYear();
		document.getElementById('datepicker').value=day+'/'+month+'/'+year;
		
	}
	window.onload = init;
	
</script>

<div id="stylized" class="myform" style="height:100%;">
	<h1>New Meeting</h1>
	<p>Please fill in the form</p>
	
	<%= form_for(@meeting, :url => {:action => 'create'}) do |builder| %>
		<%= render :partial => 'form', :locals => {:f => builder} %>
	
	
		<%= submit_tag "Schedule", :class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"top: 2px;left:750px"%>
	<% end %>
	<%= link_to "Cancel", {:controller=>"public", :action => "index"},{:type=>"button",:class=>"ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", :style=>"width:97px;height:23px;left:750px;text-align: center;vertical-align:middle;padding: 5px;"} %>
</div>
