<h1>The place for you to organize your meetings</h1>

<br>
<br>

<table align="center">
	<tr>
		<td><%= button_to "Create New Meeting", :action => "new" %></td>
		<td><%= button_to "Login", {:controller => "access", :action => "login"} %></td>
	</tr>
</table>
